@import "~bootstrap/scss/bootstrap";

$color-fondo : rgb(231, 134, 134);
$color-fondo-1 : rgb(134, 168, 231);

body{
    @if 2 < 1 {
        background-color: $color-fondo;
    } @else {
        background-color: $color-fondo-1;
    }

    
}